# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Database
instance/
*.db
*.sqlite

# Blockchain
build/
private_keys.json
.truffle/

# System
.DS_Store
Thumbs.db

# Dynamic Data
app/static/uploads/lab_reports/*
app/static/uploads/verified_files/*
app/static/uploads/temp/*
!app/static/uploads/lab_reports/.gitkeep
!app/static/uploads/verified_files/.gitkeep
!app/static/uploads/temp/.gitkeep

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo